.manage-products-container {
    & form {
        margin: 20px 0;
        display: flex;
        width: 100%;
        justify-content: center;

        & input {
            max-width: 550px;
            width: calc(100% - 50px);
            height: 50px;
            border: solid 1px rgba(0, 0, 0, .3);
            font-weight: bold;
            padding: 0 15px;
        }

        & button {
            cursor: pointer;
            width: 50px;
            height: 50px;
            border: none;
            color: white;
            background: #0062ff;
            transition: .3s;

            &:hover {
                background: #3f89ff;
            }
        }
    }
}